<a href="https://colab.research.google.com/github/Aboubacar2012/Deep-Learning-Training/blob/main/DL_Save_your_Neural_Network_Model_JSON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# MLP for Pima Indians Data set serialize to JSON and HDF5
from keras.models import Sequential 
from keras.layers import Dense
from keras.models import model_from_json
import numpy 
import os

In [2]:
#Fix random reed for reproducibility
seed=7
numpy.random.seed(seed)

In [4]:
import pandas as pd 
dataframe=pd.read_csv('/content/drive/MyDrive/ml_data/DeepLearning/diabetes.csv')
dataframe.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [5]:
dataset=dataframe.values
dataset[0]

array([  6.   , 148.   ,  72.   ,  35.   ,   0.   ,  33.6  ,   0.627,
        50.   ,   1.   ])

In [7]:
#Split into input(X) and output (Y) variables
X=dataset[:,0:8]
Y=dataset[:,8]

In [8]:
X[0]

array([  6.   , 148.   ,  72.   ,  35.   ,   0.   ,  33.6  ,   0.627,
        50.   ])

In [9]:
Y[0]

1.0

In [10]:
#Create model 
model=Sequential()
model.add(Dense(12, input_dim=8, kernel_initializer='uniform',
                activation='relu'))
model.add(Dense(8, kernel_initializer='uniform', activation='relu'))
model.add(Dense(1, kernel_initializer='uniform', activation='sigmoid'))

In [11]:
# compile model 
model.compile(loss='binary_crossentropy', optimizer='adam', 
              metrics=['accuracy'])

In [12]:
# Fit the model 
model.fit(X,Y, epochs=150, batch_size=10, verbose=0)

In [15]:
#Evaluate the model 
scores=model.evaluate(X, Y, verbose=0)
print("%s: %.2f%%" % (model.metrics_names[1], scores[1]*100))

accuracy: 78.91%

Serialize model to JSON

In [17]:
model_json=model.to_json()
with open('model.json','w') as json_file:
  json_file.write(model_json)
#Serialize weigths to HDF5 
model.save_weights('model.h5')
print('Saved model to disk')

# later...

#Load json and create model

Saved model to disk

Load json and create model

In [18]:
json_file=open('model.json','r')
loaded_model_json=json_file.read()
json_file.close()
loaded_model=model_from_json(loaded_model_json)
# Load weights into new model 
loaded_model.load_weights('model.h5')
print('Loaded model from disk')

Loaded model from disk

In [20]:
# evaluate loaded model on test data 
loaded_model.compile(loss='binary_crossentropy', optimizer='adam',
                     metrics=['accuracy'])
score=loaded_model.evaluate(X,Y, verbose=0)
print("%s: %.2f%%" % (loaded_model.metrics_names[1], score[1]*100))

accuracy: 78.91%