<a href="https://colab.research.google.com/github/Aboubacar2012/Deep-Learning-Training/blob/main/Project_Regression_Of_Boston_House_Prices_Neural_Network_Baseline_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Multilayer Perceptron Model for Boston House Problem

1. Import Classes and Functions

In [1]:
import numpy as np
import pandas as pd
from keras.models import Sequential 
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

2. load dataset

In [2]:
dataframe = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/housing/housing.data", 
                            delim_whitespace=True, header=None)

In [3]:
dataframe.head()

        0     1     2   3      4      5   ...  8      9     10      11    12    13
0  0.00632  18.0  2.31   0  0.538  6.575  ...   1  296.0  15.3  396.90  4.98  24.0
1  0.02731   0.0  7.07   0  0.469  6.421  ...   2  242.0  17.8  396.90  9.14  21.6
2  0.02729   0.0  7.07   0  0.469  7.185  ...   2  242.0  17.8  392.83  4.03  34.7
3  0.03237   0.0  2.18   0  0.458  6.998  ...   3  222.0  18.7  394.63  2.94  33.4
4  0.06905   0.0  2.18   0  0.458  7.147  ...   3  222.0  18.7  396.90  5.33  36.2

[5 rows x 14 columns]

3.split into input (X) and output (Y) variables

In [4]:
dataset=dataframe.values
X=dataset[:,0:13].astype(float)
Y=dataset[:,13]

In [5]:
X[0]

array([6.320e-03, 1.800e+01, 2.310e+00, 0.000e+00, 5.380e-01, 6.575e+00,
       6.520e+01, 4.090e+00, 1.000e+00, 2.960e+02, 1.530e+01, 3.969e+02,
       4.980e+00])

In [6]:
Y[0]

24.0

4. Define and Compile a Baseline Neural Network Model

In [7]:
#define baseline model
def baseline_model():
  #create model
  model=Sequential()
  model.add(Dense(13, input_dim=13, kernel_initializer='normal', activation='relu'))
  model.add(Dense(1, kernel_initializer='normal'))
  # Compile model
  model.compile(loss='mean_squared_error', optimizer='adam')
  return model

5. Initialize Random Number Generator and Prepare Model Wrapper for scikit-learn

In [8]:
# Fix random seed for reproducibility
seed=7
np.random.seed(seed)

In [9]:
# Evaluate model with Standardized dataset
estimator=KerasRegressor(build_fn=baseline_model, epochs=100, batch_size=5, verbose=0)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: KerasRegressor is deprecated, use Sci-Keras (https://github.com/adriangb/scikeras) instead.

6.We will use 10-fold cross validation to
evaluate the model.

In [10]:
kfold=KFold(n_splits=10, random_state=seed, shuffle=True)
results=cross_val_score(estimator, X, Y, cv=kfold)
print("Baseline: %.2f (%.2f) MSE" % (results.mean(), results.std()))

Baseline: -24.49 (11.57) MSE